@model PcPartsSite.Models.Filter
@{
    ViewData["Title"] = "Update Filter";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.Title</h2>

<form asp-action="UpdateFilter">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        @Html.EditorFor(c => c.Name)
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>